<footer class="row is-marginless is-vertical-align">
    <div class="col-4">

    </div>
    <div class="col-4 is-center">
        <p>Made with ❤ by Jonathan - 2020</p>
    </div>
    <div class="col-4 is-right links">
        <a href="https://github.com/jonamartin/" target="_blank" class="icono"><img src="/assets/icon-github.svg" alt="github"></a>
        <a href="https://www.linkedin.com/in/jonathan-martin-025890b5/" target="_blank" class="icono"><img src="/assets/icon-linkedin.svg" alt="linkedin"></a>
        <a href="mailto:jonnamartiin@gmail.com" target="_blank" class="icono"><img src="/assets/icon-email.svg" alt="mail"></a>
    </div>
</footer>