<div id="title" class="row is-marginless">
    <div class="col">EXPERIENCIA Y TRABAJOS</div>
</div>
<div class="row is-marginless">
    <div id="imageTextContainer" class="col is-center">
        <img data-aos="fade-down-right" id="imageText" class="is-center hovereable" src="../../../../assets/SHIFTA.svg" alt="">
    </div>
    <div data-aos="fade-down-left" id="text" class="col">
        <h1> <a target="_blank" href="https://www.weareshifters.com/">SHIFTA</a></h1>
        <p>¡Mi primer desafío profesional! Comencé a co-crear en SHIFTA en un equipo admirable,
            un entorno desafiante y un contexto completamente inesperado. En proyectos con infraestructura compleja,
            como en otros en los que tuve el placer de hacer el primer commit.
            El lockdown de 2020 me desafío a comenzar en una metodología completamente nueva, para mí, y para la organización.
        </p>
    </div>    
</div>
<div class="row is-marginless">
    <div data-aos="fade-down-right" id="text" class="col">
        <h1>Pictomenu</h1>
        <p>¡Una solución creada en equipo! Proyecto final del ciclo de formación Coconuts University (Fullstack Web Development 2020).
             Dirigido a comercios y espacios que coincidan en la inclusión como valor de base social. Con el apoyo de ARASAAC©, una API del gobierno de Aragón,
             como fuente de pictogramas; un backend en .Net y frontend en react. Pictomenu es capaz de convertir los menús tradicionales para adaptarlos a personas
             con discapacidades en la comunicación verbal. 
        </p>
    </div>
    <div id="imageTextContainer" class="col is-center">
        <img data-aos="fade-down-left" id="imageText" class="is-center card hovereable" src="../../../../assets/Picto.png" alt="">
    </div>    
</div>