<div id="title" class="row is-marginless">
    <div class="col">{{languageToggleService.getText('experiencia-Titulo')}}</div>
</div>
<div class="row experienceElement">
    <div data-aos="fade-down" id="text" class="col">
        <h1> <a target="_blank" href="https://www.comit.ar/">MIT</a></h1>
        <p>{{languageToggleService.getText('MITDescripcion')}}
        </p>
    </div> 
    <div id="imageTextContainer" class="col is-center">
        <img data-aos="fade-down" id="imageText" class="is-center hovereable" src="../../../../assets/MIT.png" alt="MIT">
    </div>   
</div>
<div class="row experienceElement">
    <div id="imageTextContainer" class="col is-center">
        <img data-aos="fade-down" id="imageText" class="is-center hovereable" src="../../../../assets/SHIFTA.svg" alt="SHIFTA">
    </div>
    <div data-aos="fade-down" id="text" class="col">
        <h1> <a target="_blank" href="https://www.weareshifters.com/">SHIFTA</a></h1>
        <p>
            {{languageToggleService.getText('SHIFTADescripcion')}}
        </p>
    </div>    
</div>
<div class="row experienceElement">
    <div data-aos="fade-down" id="text" class="col">
        <h1><a target="_blank" href="https://github.com/jonamartin/Proyecto-Inclusivo">Pictomenu</a></h1>
        <p>
            {{languageToggleService.getText('pictomenuDescripcion')}}
        </p>
    </div>
    <div id="imageTextContainer" class="col is-center">
        <img data-aos="fade-down" id="imageText" class="is-center card hovereable" src="../../../../assets/Picto.png" alt="PICTOMENU">
    </div>
</div>