<div id="title" class="row is-marginless">
    <div class="col">EXPERIENCIA Y TRABAJOS</div>
</div>
<div id="MIT" class="row">
    <div data-aos="fade-down" id="text" class="col">
        <h1> <a target="_blank" href="https://www.comit.ar/">MIT</a></h1>
        <p>¡Juntos somos más! La comunidad de desarrolladores y desarrolladoras de la provincia de Misiones es una iniciativa conjunta,
            que co-fundé con valores claros orientados a la inclusión de más personas a la industria de software. Convencido del talento
            oculto en la provincia, capaz de hacer un aporte inmenso a soluciones de calidad, modernas y creativas. MIT busca potenciar ese 
            talento, acompañar su proceso de desarrollo para llevarlos y llevarlas a su mejor BETA.
        </p>
    </div> 
    <div id="imageTextContainer" class="col is-center">
        <img data-aos="fade-down" id="imageText" class="is-center hovereable" src="../../../../assets/MIT.png" alt="MIT">
    </div>   
</div>
<div id="SHIFTA" class="row">
    <div id="imageTextContainer" class="col is-center">
        <img data-aos="fade-down" id="imageText" class="is-center hovereable" src="../../../../assets/SHIFTA.svg" alt="SHIFTA">
    </div>
    <div data-aos="fade-down" id="text" class="col">
        <h1> <a target="_blank" href="https://www.weareshifters.com/">SHIFTA</a></h1>
        <p>¡Mi primer desafío profesional! Comencé a co-crear en SHIFTA en un equipo admirable,
            un entorno desafiante y un contexto completamente inesperado. En proyectos con infraestructura compleja,
            como en otros en los que tuve el placer de hacer el primer commit.
            El lockdown de 2020 me desafío a comenzar en una metodología completamente nueva, para mí, y para la organización.
        </p>
    </div>    
</div>
<div id="PICTOMENU" class="row">
    <div data-aos="fade-down" id="text" class="col">
        <h1><a target="_blank" href="https://github.com/jonamartin/Proyecto-Inclusivo">Pictomenu</a></h1>
        <p>¡Una solución creada en equipo! Proyecto final del ciclo de formación Coconuts University (Fullstack Web Development 2020).
             Dirigido a comercios y espacios que coincidan en la inclusión como valor de base social. Con el apoyo de ARASAAC©, una API del gobierno de Aragón,
             como fuente de pictogramas; un backend en .Net y frontend en react. Pictomenu es capaz de convertir los menús tradicionales para adaptarlos a personas
             con discapacidades en la comunicación verbal. 
        </p>
    </div>
    <div id="imageTextContainer" class="col is-center">
        <img data-aos="fade-down" id="imageText" class="is-center card hovereable" src="../../../../assets/Picto.png" alt="PICTOMENU">
    </div>    
</div>