<div id="title" class="row is-marginless">
    <div class="col">SOBRE MÍ</div>
</div>
<div class="row is-marginless">
    <div data-aos="fade-right" data-aos-duration="1000" id="text" class="col">
        <p>Soy un desarrollador fullstackJs disfrutando las primeras experiencias haciendo soluciones.
            Hago código desde hace diez años como hobbie, y en 2019 decidí convertirlo en mi proyecto profesional. 
            Estudio ingenieria en sistemas en la Universidad Tecnologica Nacional.
            También co-fundé la comunidad de desarrolladores y desarrolladoras de la provincia de Misiones,
            buscando potenciar el talento local reforzando los vínculos entre las personas y las oportunidades.
            Me apasiona entender el diseño de organizaciones y equipos en procesos tecnológicos.
            Otras actividades que disfruté y disfruto mucho hacer son teatro, debate, running y todo lo relacionado a generar espacios que mejoren procesos de comunicacion interpersonales.
            Escribo sobre inclusión. </p>
    </div>
    <div id="imageTextContainer" class="col is-center">
        <img data-aos="fade-left" data-aos-duration="1500" id="imageText" class="is-center" src="../../../../assets/profilepicture.png" alt="">
    </div>
</div>

