<div class="row is-marginless title">
    <div class="col">{{languageToggleService.getText('sobre-mi-Titulo')}}</div>
</div>
<div class="row about is-marginless">
    <div data-aos="fade-right" data-aos-duration="1000" class="col text">
        <p>
            {{languageToggleService.getText('sobre-mi-descripcion')}}
        </p>
    </div>
    <div id="imageTextContainer" class="col is-marginless is-center">
        <img data-aos="fade-left" data-aos-duration="1500" id="imageText" class="is-center" src="../../../../assets/profilepicture.png" alt="profile">
    </div>
</div>
<div data-aos="fade-right" data-aos-duration="1000" class="row is-marginless title">
    <p class="col">SKILLS</p>   
</div>
<div class="row is-marginless skills">
    <div class="col-4 text">
        <p data-aos="fade-down">C# .Net / MVC</p>
        <p data-aos="fade-down">NodeJs / Express</p>
        <p data-aos="fade-down">SQL Server</p>
        <p data-aos="fade-down">MongoDB</p>
    </div>
    <div class="col-4 text">
        <p data-aos="fade-down">HTML 5</p>
        <p data-aos="fade-down">CSS 3</p>
        <p data-aos="fade-down">Javascript</p>
        <p data-aos="fade-down">Typescript</p>
    </div>
    <div class="col-4 text">
        <p data-aos="fade-down">React</p>
        <p data-aos="fade-down">Angular</p>
    </div>
</div>    

