<nav class="nav">
  <div class="nav-left">
    <app-menulink  class="is-center" path="/">Acerca de Mí</app-menulink>
    <app-menulink  class="is-center" path="experience">Experiencia y trabajos</app-menulink>
  </div>
  <div class="nav-center">
    <app-menulink class="brand" path="/">
      <img id="Logo" data-aos="zoom-in-down" src="../../../../assets/Logo.png" alt="Logo">
    </app-menulink>
  </div>
  <div class="nav-right">
        <!-- <a>Where i go?</a>
        <a class="button outline">Switch Mode ;)</a> -->
  </div>
</nav>