:root
{
    --bg-color: #77aa77;
}
body{
    font-family: 'Montserrat', sans-serif;
    background-color: #77aa77;
    background-image: url("assets/Background.png");
    transition: all 300ms;
}
body.dark {
    --bg-color:  #0f1f0f;
    --bg-secondary-color: #131316;
    --font-color: #a5d5a5;
    --color-grey: #ccc;
    --color-darkGrey: #777;
    background-color: #0f1f0f;
    background-image: url("assets/DarkBackgound.png");
}

.dark .nav, .dark footer{
    background-color: #034d0344 !important;
}

.dark .icono img {
    filter: invert();
}
